div {
  position: relative; // Ustawienie pozycji diva na względną

  h3 {
    position: absolute; // Ustawienie pozycji h3 na absolutną
    top: 0; // Ustawienie górnego marginesu na 0
    left: 0; // Ustawienie lewego marginesu na 0
  }
}
